[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
build = "*"

[dev-packages]
build = "*"
setuptools = {extras = ["core"], version = "*"}
sphinx = "*"
doit = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.12"
